@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$primary: #f4ca64;

$theme-colors: map-merge(
	$theme-colors,
	(
		'primary': $primary
	)
);

@import 'bootstrap/scss/bootstrap';

:root {
	--base-100: #ffffff;
	--base-200: #f8f8f8;
	--base-300: #d3d3d3;
	--base-400: #a6a6a6;
	--base-500: #7a7a7a;
	--base-600: #4d4d4d;
	--base-700: #212121;
}

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif !important;
	-webkit-text-size-adjust: 100%;
}

.btn-primary {
	color: var(--base-100) !important;
	font-size: 1.6rem;
	padding-block: 8px;
	padding-inline: 12px;
	border-radius: 6px;
}

.icon {
	width: 20px;
	height: 20px;
	line-height: 1;
}