@import 'bootstrap/scss/bootstrap';

.icon {
	width: 24px;
	height: 24px;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	zoom: 75%;
}
  
@media screen {
	body {
		position: relative;
		width: 430px auto;
		height: 2600px;
	}
}